Failed to create stream fd: Operation not permitted
Failed to create stream fd: Operation not permitted
Failed to create stream fd: Operation not permitted
.DS_Store
DerivedData/
build/
*.xcuserstate
xcuserdata/
.swiftpm/
*.mobileprovision
*.p12
*.cer
*.key
